:root {
    --black: #323437;
}

* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

/* navbar  */

.navbar .navbar-brand img {
    width: 10%;
}

/* navbar  */

/* index section  */

header .background-img {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    height: 90vh;
    background: url(images/header-img.jpg) no-repeat center center/cover;
}

header .index-heading {
    border: 5px solid white;
    padding: 1rem;
}

/* index section  */

/* footer  */

footer {
    background-color: var(--black);
    display: flex;
    text-align: center;
    padding: 2rem;
    font-size: 150%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

/* footer  */

/* about  */

.about .para-mobile {
    display: none;
}

/* about  */

/* portfolio  */

.port-card img {
    height: 20rem;
}

.container-1 {
    padding: 0rem 3rem 0rem 3rem;
}

/* portfolio  */

/* media query for tablet and mobile  */
@media (max-width:992px) {

    header .index-heading {
        border: 5px solid white;
        padding: .5rem;
        text-align: center;
    }

    .about img {
        width: 100%;
    }

    .about .para-pc {
        display: none !important;
    }

    .about .para-mobile {
        display: block !important;
    }
}

/* media query for tablet and mobile */

/* media query for small phone  */

@media (max-width:322px) {

    .container-1 {
        padding-left: 10px;
    }
}

/* media query for small phone  */